In [5]:
import pandas as pd
import numpy as np

In [6]:
diccionario_python = {
    "Analisis": 10,
    "calificaciones": 20,
    "matematicas": 30,
    "derecho": 40,
    "Español": 50,
}
edades_diccionario = pd.Series(diccionario_python)

In [7]:
edades_diccionario

Analisis          10
calificaciones    20
matematicas       30
derecho           40
Español           50
dtype: int64

In [8]:
edades_diccionario.values

array([10, 20, 30, 40, 50])

In [9]:
edades_diccionario.index

Index(['Analisis', 'calificaciones', 'matematicas', 'derecho', 'Español'], dtype='object')

In [10]:
nuevos_indices = ['A', 'B', 'C', 'D', 'E']
arreglo_numpy = np.array([10, 20, 30, 40, 50])
edades_diccionario = pd.Series(arreglo_numpy, index=nuevos_indices)
edades_diccionario

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [11]:
edades_diccionario.dtypes

dtype('int64')

In [12]:
edades_diccionario.info()

<class 'pandas.core.series.Series'>
Index: 5 entries, A to E
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 252.0+ bytes

In [13]:
lista_python = [
    [10, 20, 30, 40],
    [50, 60, 70, 80],
    [90, 100, 110, 120]
]

filas = ['a', 'b', 'c']
columnas = ['I', 'II', 'III', 'IV']

df = pd.DataFrame(lista_python, index=filas, columns=columnas)
df

    I   II  III   IV
a  10   20   30   40
b  50   60   70   80
c  90  100  110  120

In [14]:
diccionario_listas = {
    "Nombre": ["ciro", "imelda", "jose"],
    "edad": [22, 32, 15],
    "Area": ["ti", "rh", "produccion"]
}

df = pd.DataFrame(diccionario_listas)

df

   Nombre  edad        Area
0    ciro    22          ti
1  imelda    32          rh
2    jose    15  produccion

In [16]:
arreglo_numpy = np.array([
    [10, 20, 30, 40],
    [50, 60, 70, 80],
    [90, 100, 110, 120]
])

filas = ['a', 'b', 'c']
columnas = ['I', 'II', 'III', 'IV']

df = pd.DataFrame(arreglo_numpy, index=filas, columns=columnas)

df

    I   II  III   IV
a  10   20   30   40
b  50   60   70   80
c  90  100  110  120